<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:name=".BMSApplication"
    package="com.example.durandal.budgetingmadesimple">

    <application
        android:name=".BMSApplication"
        android:allowBackup="true"
        android:icon="@drawable/bms_logo"
        android:label="BMS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".CategoriesActivity"
            android:exported="true" />
        <activity android:name=".SettingsSupervisorActivity"></activity>
    </application>

</manifest>